.my-navbar {
  border-bottom: 1px solid #dddddd;
  padding: 15px 15px;
}

.my-navbar .navbar-brand {
  color: teal;
  font-weight: 200;
  font-size: 32px;
}

.my-navbar .navbar-nav .active a {
  color: #cccccc;
}

.my-navbar .navbar-nav a {
  font-size: 20px;
  color: #aaaaaa;
}

