/* Navbar.  Note: need #app for specificity */

#app .navbar {
  border-bottom: 1px solid #dddddd;
  padding: 15px 15px;
  background-color: transparent;
}

#app .navbar-brand {
  color: rgb(25,160,210);
  font-weight: 200;
  font-size: 46px;
}

#app .navbar-nav li a {
  font-size: 18px;
  color: #aaaaaa;
  font-weight: 100;
}

#app .navbar-nav li.active a {
  color: #dddddd;
}

#app .navbar-nav li a:hover,
#app .navbar-nav li a:focus {
  background-color: transparent;
  color: #dddddd;
}
