@import url('bootstrap/dist/css/bootstrap.css');

.navbar {
  border-bottom: 1px solid #dddddd;
  background: #ffffff !important;
  padding: 15px 15px;
};

.brand a {
  color: rgb(25,160,210)  !important;
  font-weight: 200 !important;
  font-size: 32px !important;
};

.nav {
  font-size: 20px;
  color: #aaaaaa;
  font-weight: 200;
};


/*.my-navbar .navbar-nav li.active a {
  color: #dddddd;
}

.my-navbar .navbar-nav li.active a:hover,
.my-navbar .navbar-nav li.active a:focus {
  color: #aaaaaa;
}

.my-navbar .navbar-nav li a:hover,
.my-navbar .navbar-nav li a:focus {
  background-color: transparent;
  color: #dddddd;
}*/
