/* Navbar */

#app .navbar {
  border-bottom: 1px solid #dddddd;
  padding: 15px 15px;
}

#app .navbar-brand {
  color: rgb(25,160,210);
  font-weight: 100;
  font-size: 32px;
}

#app .navbar-nav li a {
  font-size: 20px;
  color: #aaaaaa;
  font-weight: 200;
}


#app .navbar-nav li.active a {
  color: #dddddd;
}

#app .navbar-nav li a:hover,
#app .navbar-nav li a:focus {
  background-color: transparent;
  color: #dddddd;
}

/* Global */

.circle-image {
    position:relative;
    overflow:hidden;
    padding-bottom:100%;
    border-radius:50%;
}
.circle-image img{
    position:absolute;
    width:100%;
}

body a {
  color: rgb(25,160,210);
}

.mt15 {
  margin-top: 15px;
}

.mb15 {
  margin-bottom: 15px;
}
